.flash-message {
    animation: flash 5s ease-out;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.books-table, .book-update, .author-create, .authors-table {
    animation: showup 0.25s ease-out;
}

@keyframes showup {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
